body {
    background: linear-gradient(135deg,#182848,#4B6CB7);
}

footer {
    padding: 50px 0px;
}

.logo {
    width: 50%;
}

.page-header h1 {
    color: #FFA91B;
}

.page-header small {
    color: #F1FFFA;
}

.weather {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.weather-active {
    height: 200px;
    padding: 25px;
    color: #454545;
    font-size: 14px;
    border-radius: 10px 10px 0px 0px;
    background-color: #FFF;
}

.weather-active-left {
    padding-top: 35px;
}

.weather-active-left-text {
    padding-top: 15px;
}

.three-day-forecast {
    height: 150px;
    color: #1F2D3D;
    background-color: #eee;
    border-radius: 0px 0px 10px 10px;
}

.forecast-text {
    padding-top: 10px;
    opacity: 0.8;
}

.border-right {
    height: 100%;
    border-right: 2px solid #e2e1e1;
}
